.bash_history
.bash_profile
.bashrc

.config/VSCodium/
.config/GitHub Desktop
.config/Cache/
.config/stacer/
.dendron*
.mume*
.vscode-oss/extensions/
.config/obsidian/
.config/micro/
.config/dconf/
.config/fish/
.config/Electron/
.config/gtk*/
.config/warp-terminal/
.config/environment.d/
.config/git/
.config/pulse/
.config/sunshine
.config/systemd/
.config/unity3d/
.gnupg/
.gtkrc-2.0
.nix-defexpr/
.nix-profile
.pki/
.steam/
.steampath
.steampid
.cache/
.local/
.mozilla/
.ssh/
.var/
.profile

.gitconfig
Downloads/
Documents/
Dendron/
tmp